<style>
  #about {
    background-color: var(--white);
    padding: 96px 0;

    .about-section {
      gap: 80px;

      .about-texts {
        width: 560px;
        color: var(--secondary-color);
        text-align: center;

        h2 {
          font-size: 48px;
          font-weight: 600;
          text-transform: uppercase;
          margin-bottom: 16px;
        }

        p {
          margin-bottom: 16px;
        }

        a {
          display: block;
          width: fit-content;
          margin: 40px auto 0;
        }
      }

      .swiper-about-section {
        .swiper-wrapper {
          width: 640px;

          .slider-about-1 {
            width: 640px;
            height: 360px;
            background: url("assets/images/img-about-1.jpg") center center
              no-repeat;
            background-size: cover;
          }

          .slider-about-2 {
            width: 640px;
            height: 360px;
            background: url("assets/images/img-about-2.jpg") center center
              no-repeat;
            background-size: cover;
          }

          .slider-about-3 {
            width: 640px;
            height: 360px;
            background: url("assets/images/img-about-3.jpg") center center
              no-repeat;
            background-size: cover;
          }
        }
      }
    }
  }
</style>

<section id="about">
  <div class="container flex about-section">
    <div class="about-texts">
      <h2>Desde 2015</h2>
      <p>
        O Bar-Baridade foi fundado em 2015, tornando-se rapidamente um ponto de
        encontro tradicional para amigos e famílias. Com um ambiente
        descontraído e acolhedor, o bar combina boa música, culinária de
        qualidade e aquele atendimento que faz todo mundo se sentir em casa.
      </p>
      <p>
        Ao longo dos anos, o Bar-Baridade se consolidou como um espaço de
        celebração, onde cada visita é marcada por boas conversas, risadas e
        momentos inesquecíveis. Um clássico que atravessa gerações, mantendo
        viva a essência de um verdadeiro bar brasileiro.
      </p>
      <a href="#footer" class="btn-default">Como chegar</a>
    </div>
    <div class="swiper swiper-about-section">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="slider-about-1"></div>
        </div>
        <div class="swiper-slide">
          <div class="slider-about-2"></div>
        </div>
        <div class="swiper-slide">
          <div class="slider-about-3"></div>
        </div>
      </div>
    </div>
  </div>
</section>
