.show-section {
  justify-content: center;
  gap: 40px;
  padding: 64px 0;
  background-color: var(--white);

  img {
    max-width: 540px;
    width: 100%;
    border-radius: 12px;
  }

  .show-text {
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    max-width: 540px;

    h2 {
      margin-top: 0;
      color: #333;
    }

    p {
      font-size: 16px;
      color: #555;
    }
  }
}

.show-section:nth-child(even) {
  flex-direction: row-reverse;
  background-color: var(--light-grey);
}
